@model AAPWA.ViewsModel.Evento.EditarViewModel
@{
    ViewData["Title"] = "Editar";
}

<h2>Editar Evento <strong>@Model.descricao</strong></h2>
<hr/>
<a href="/">Voltar</a>
<hr/>

@if (@Model.FormMensagensErro != null) {
    <ul>
        @foreach (var msgErro in @Model.FormMensagensErro) {
            <li>@msgErro</li>
        }
    </ul>
}

<form action="/Evento/Editar/@Model.id" method="post">
   <div>
           <label for="tipo">Tipo</label>
           <input id="tipo" name="tipo" type="text" value="@Model.tipo">
       </div>
   
       <div>
           <label for="descricao">Descrição</label>
           <input id="descricao" name="descricao" type="text" value="@Model.descricao">
       </div>
   
       <div>
           <label for="dataInicio">Data Inicio</label>
           <input id="dataInicio" name="dataInicio" type="date" value="@Model.dataInicio">
       </div>
   
       <div>
           <label for="dataFim">Data Fim</label>
           <input id="dataFim" name="dataFim" type="date" value="@Model.dataFim">
       </div>
   
       <div>
           <label for="situacao">Situação</label>
           <input id="situacao" name="situacao" type="text" value="@Model.situacao">
       </div>
       
       <div>
           <label for="horaInicial">Hora Inicial</label>
           <input id="horaInicial" name="horaInicial" type="text" value="@Model.horaInicial">
       </div>
       
       <div>
           <label for="horaFinal">Hora Final</label>
           <input id="horaFinal" name="horaFinal" type="text" value="@Model.horaFinal">
       </div>
           
       <div>
           <label for="discricaoLocal">Discrição Local</label>
           <input id="discricaoLocal" name="discricaoLocal" type="text" value="@Model.descricaoLocal">
       </div>
           
       <div>
           <label for="endereco">Endereço</label>
           <input id="endereco" name="endereco" type="text" value="@Model.endereco">
       </div>
       
       <div>
           <label for="observacao">Observação</label>
           <input id="observacao" name="observacao" type="text" value="@Model.observacao">
       </div>
       
       <div>
           <label for="dataInclusao">Data Inclusão</label>
           <input id="dataInclusao" name="dataInclusao" type="date" value="@Model.dataInclusao">
       </div>
       
       <div>
           <label for="dataModificacao">Data Modificação</label>
           <input id="dataModificacao" name="dataModificacao" type="date" value="@Model.dataModificacao">
       </div>

    <div>
        <input name="confirmar" type="submit" value="Confirmar">
    </div>
</form>