@model AAPWA.ViewsModel.Cliente.RemoverViewModel
@{
    ViewData["Title"] = "Remover";
}

<h2>Remover Cliente <strong>@Model.nome</strong></h2>
<hr/>
<a href="/">Voltar</a>
<hr/>

@if (@Model.FormMensagensErro != null) {
    <ul>
        @foreach (var msgErro in @Model.FormMensagensErro) {
            <li>@msgErro</li>
        }
    </ul>
}

<form action="/Cliente/Remover/@Model.id" method="post">
    <p>Dados do Cliente a remover</p>
    <ul>
        <li><strong>Id: </strong> @Model.id</li>
        <li><strong>Documento: </strong> @Model.documento</li>
        <li><strong>Data Nascimento: </strong> @Model.dataNascimento</li>
        <li><strong>Nome: </strong> @Model.nome</li>
        <li><strong>Endereço: </strong> @Model.endereco</li>
        <li><strong>Observação: </strong> @Model.observacao</li>
        <li><strong>Data Inclusão: </strong> @Model.dataInclusao</li>
        <li><strong>Data Modificação: </strong> @Model.dataModificacao</li>
        <li><strong>Evento: </strong> @Model.Evento</li>
        <li><strong>E-mail: </strong> @Model.email</li>
    </ul>
    
    <p><strong>Atenção:</strong> Essa operação não pode ser desfeita!</p>

    <div>
        <input name="confirmar" type="submit" value="Confirmar">
    </div>
</form>